/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Header Styles */
header {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  animation: fadeInDown 1s ease-in-out;
}

h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 2.5em;
}

/* Main Content Styles */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

article {
  margin: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-basis: 100%;
  animation: fadeInUp 1s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

article:hover {
  transform: translateY(-10px);
}

@media (min-width: 600px) {
  article {
    flex-basis: calc(50% - 20px);
  }
}

@media (min-width: 900px) {
  article {
    flex-basis: calc(33.33% - 20px);
  }
}

h2 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #ff7e5f;
  font-size: 1.8em;
}

/* List Styles */
ul {
  list-style-type: circle;
}

li {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

/* Form Styles */
form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
